<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title data-th-text="${LoggedInUser.name}+' |  SCM'">Profile Page</title>
  </head>
  <body>
    <div id="content">
      <!-- Main Layout Container -->
      <div class="flex min-h-screen">
        <!-- Fixed Sidebar -->
        <div th:if="${LoggedInUser}" class="w-64 fixed left-0 top-10 h-full z-30">
          <div data-th-replace="~{user/SideBar :: sidebar}"></div>
        </div>

        <!-- Main Content Area -->
        <div class="flex-1 ml-64 p-8 transition-all duration-300">
          <h1 class="text-2xl font-bold mb-4 text-gray-800 dark:text-gray-100">
            Welcome to Profile page
          </h1>
          <p class="text-gray-600 dark:text-gray-300 leading-relaxed">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat
            accusamus pariatur, iusto vel maxime nostrum, voluptatum saepe facere
            veritatis ipsam blanditiis accusantium placeat adipisci.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>