<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact page</title>
  </head>
  <body>
    <h1 id="content">
      This is contact page
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla adipisci quas odio porro. Fugit magnam sed vero beatae nobis nam odit exercitationem, perspiciatis reiciendis deserunt cumque quam voluptate velit sit!.</h1>
  </body>
</html>
