<!DOCTYPE html>
<html
        lang="en"
        th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Home page</title>
</head>
  <body>
    <div id="content">
      <h1 class="text-2xl font-bold">
        Welcome to home page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat
        accusamus pariatur, iusto vel maxime nostrum, voluptatum saepe facere
        veritatis ipsam blanditiis accusantium placeat adipisci. Illo ratione
        dolorem culpa velit temporibus?Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Perferendis sit eveniet omnis rem animi illo
        blanditiis nemo. Deleniti hic fugiat distinctio corporis. Tempora beatae
        repellat saepe, architecto consequuntur asperiores! Repudiandae.
        lorem*50
      </p>
    </div>
  </body>
</html>
